docs/n8n/hq-agent-router.json
{
  "name": "HQ Agent Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hq-agent",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-hq-agent",
      "name": "HQ Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hq-agent-router"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.provider || $json.provider }}",
                    "rightValue": "cursor",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cursor"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.provider || $json.provider }}",
                    "rightValue": "codex",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "codex"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.provider || $json.provider }}",
                    "rightValue": "claude",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "claude"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-provider",
      "name": "Route by provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [260, 0]
    },
    {
      "parameters": {
        "content": "## Cursor path\n\n1. Job is queued in HQ (`GET /hq/api/agents/pending?provider=cursor`).\n2. Open Cursor with the **hq-ops** skill.\n3. Generate briefing from `payload.context`.\n4. POST result to `callbackUrl` with Bearer `HQ_AGENT_CALLBACK_SECRET`.\n\nOptional: set env `HQ_CURSOR_TUNNEL_URL` and add an HTTP Request node here.",
        "height": 280
      },
      "id": "note-cursor",
      "name": "Cursor instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [520, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "jobId",
              "value": "={{ $json.body.jobId || $json.jobId }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "provider",
              "value": "cursor",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "status",
              "value": "queued",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "hint",
              "value": "Poll https://hq.sooklabs.com/hq/api/agents/pending?provider=cursor",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-cursor",
      "name": "Cursor queued",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, -40]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "jobId",
              "value": "={{ $json.body.jobId || $json.jobId }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "provider",
              "value": "codex",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "hint",
              "value": "Forward to Codex runner (scripts/hq-agent-runner.example.mjs)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-codex",
      "name": "Codex queued",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 120]
    },
    {
      "parameters": {
        "content": "## Claude (manual)\n\n1. Copy `context` from the webhook body.\n2. Paste into Claude (or Claude-in-Cursor).\n3. Paste the reply into the next Manual Task / form, then HTTP Request → HQ callback.",
        "height": 220
      },
      "id": "note-claude",
      "name": "Claude manual",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [520, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.callbackUrl || $json.callbackUrl || 'https://hq.sooklabs.com/hq/api/agents/callback' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HQ_AGENT_CALLBACK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jobId\": \"{{ $json.body.jobId || $json.jobId }}\",\n  \"provider\": \"claude\",\n  \"text\": \"{{ $json.manualBriefing || $json.text || 'Replace with Claude output' }}\",\n  \"summary\": \"Claude manual callback\"\n}",
        "options": {}
      },
      "id": "http-callback-claude",
      "name": "POST HQ callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 320]
    }
  ],
  "connections": {
    "HQ Webhook": {
      "main": [[{ "node": "Route by provider", "type": "main", "index": 0 }]]
    },
    "Route by provider": {
      "main": [
        [{ "node": "Cursor queued", "type": "main", "index": 0 }],
        [{ "node": "Codex queued", "type": "main", "index": 0 }],
        [{ "node": "POST HQ callback", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Import into n8n on the Sookly droplet. Activate webhook, copy Production URL into Vercel HQ_AGENT_WEBHOOK_URL. Set n8n env HQ_AGENT_CALLBACK_SECRET to match Vercel."
  }
}
